.sidebar {
    background-color: #007bff;
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar h2 {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}




.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    text-align: center;
}

.sidebar li a {
    color: #fff;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}
